{{! carrusel }}

<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div
    class="carousel-inner"
    style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
  >
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="/img/1.png"
        class="d-block w-100"
        alt="lgo"
        style="height: 500px;"
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="/img/2.png"
        class="d-block w-100"
        alt="pastor"
        style="height: 500px;"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/3.png"
        class="d-block w-100"
        alt="pastora"
        style="height: 500px;"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/4.png"
        class="d-block w-100"
        alt="erick"
        style="height: 500px;"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="card-title d-flex justify-content-center p-4">
  <h2>Agenda Semanal </h2>
</div>
<header>
  <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">
      <div class="col d-flex align-items-stretch pb-4">
        <div
          class="card m-2"
          style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
        >
          <div class="card-header" style="background-color: rgb(54, 130, 123);">
            Martes

          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">SUPER V.E.A 6:00PM</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch pb-4">
        <div
          class="card m-2"
          style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
        >
          <div class="card-header" style="background-color: rgb(54, 130, 123);">
            Miercoles
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">CULTO DE AVIVAMIENTO Y GLORIA 6:00PM </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch pb-4">
        <div
          class="card m-2"
          style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
        >
          <div class="card-header" style="background-color: rgb(54, 130, 123);">
            Viernes

          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">GRUPOS BIBLICOS</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch pb-4">
        <div
          class="card m-2"
          style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
        >
          <div class="card-header" style="background-color: rgb(54, 130, 123);">
            Sabado
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">AYUNO CONGRECIONAL 8:00AM</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch pb-4">
        <div
          class="card m-2"
          style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
        >
          <div class="card-header" style="background-color: rgb(54, 130, 123);">
            Sabado (tarde)
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">CULTO DE JOVENES R21 4:00PM</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch pb-4">
        <div
          class="card m-2"
          style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
        >
          <div class="card-header" style="background-color: rgb(54, 130, 123);">
            Domingo
          </div>
          <div class="card-body">
            <blockquote class="blockquote ">
              <footer class="blockquote-footer">CULTO MAÑANA DE BENDICIÓN</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>