body{
  background-image: url(/img/body.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
}

.container-fluid {
  display: flex;
  box-shadow: -1px 10px 12px 0px rgba(0, 0, 0, 0.256);
}

.img-fluid {
  background-color: black;
  border-radius: 100%;
}
.logo {
  height: 120px;
  width: 150px;
  border-radius: 100%;
}

.logo-form {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  
}

.ect {
  text-decoration: none;
  color: green;
  background: #fff;
}

.donacion:hover {
  border: solid rgb(0, 110, 97);
  font-size: 20px;
  transition: 3sg;
}

.selector:hover {
  font-size: 15px;
}

.img-donation:hover{
  font-size: 500px;
}


