<div class=" p-4" style="box-shadow: -2px -11px 8px 0px rgba(0,110,97,0.75);background:rgba(0, 110, 97, 0.938); ">
  <div class="row  row-cols-lg-4 ">
          <div class="col">
            <div class="footers" style="width: 18rem;">
        <div class="card-body ">
          <img class="logo" src="/img/logo.png" alt="logo">
        </div>
      </div>
          </div>
          <div class="col">
            <div class="footers" style="width: 18rem;">
        <div class="card-body text-white">
          <h5 class="card-title m-2">Quienes somos</h5>
          <ul>
             <li><a class="dropdown-item" href="/links/adn">Nuestro ADN</a></li>
           <li> <a class="nav-link  text" href="/links/donaciones">Donaciones</a></li>
            <li><a class="nav-link  text" href="/links/Ubicanos">Ubicanos</a></li>
           <li> <a class="nav-link  text" href="/links/eventos">Eventos</a></li>
          </ul>
        </div>
      </div>
          </div>
          <div class="col">
            <div class="footers" style="width: 18rem;">
        <div class="card-body text-white">
          <h5 class="card-title m-2">Redes Sociales</h5>
          <ul >
         <li><a href="https://www.instagram.com/coloncentrocristiano/"><i class="fa-brands fa-instagram p-2 text-white"></i></a>Instagram</li>
         <li><a href="https://www.facebook.com/profile.php?id=100002215235467"><i class="fa-brands fa-facebook p-2 text-white"></i></a>Facebook</li>
         <li><a href="https://wa.me/5804247187229"><i class="fa-brands fa-whatsapp p-2 text-white"></i></a>Whatsapp</li>
         </ul>
        </div>
      </div>
          </div>
          <div class="col">
            <div class="footers" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-white">Ubicanos</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.7156445312617!2d-72.26213622550951!3d8.028227003851917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6661c4a2b6d037%3A0xb863abb51aac8fd6!2sCentro%20Cristiano%20Colon!5e0!3m2!1ses!2sve!4v1705430899804!5m2!1ses!2sve"
           width="300" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
          </div>