<header>
            <nav class="navbar navbar-expand-lg " style="background:rgba(0, 110, 97, 0.938);">
              <div class="container-fluid ">
                  <a class="navbar-brand fs-3 text-white"  href="/">Centro Cristiano Colón</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="btn">
                              <a class="nav-link fs-5 text-white"  id="notificar"> <i class="fa-regular fa-bell"></i></a>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-5 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Quienes Somos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/links/adn">Nuestro ADN</a></li>
                                <li><a class="dropdown-item" href="/links/fundadores">Nuestros Fundadores</a></li>
                            </ul>
                        </li>   
                          <li class="nav-item">
                              <a class="nav-link active fs-5 text-white" aria-current="page" href="/links/misiones">Misiones</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link fs-5 text-white" href="/links/donaciones">Donaciones</a>
                          </li>
                          {{!-- <li class="nav-item">
                              <a class="nav-link fs-5 text-white" href="/links/Ubicanos">Ubicanos</a>
                          </li> --}}
                          <li class="nav-item">
                              <a class="nav-link fs-5 text-white" href="/signin">Equipo de liderazgo</a>
                          </li>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>

 <style>
        .btn-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
        }
    </style>

    <div class="btn-group dropup btn-float ">
        <button type="button" style="width: 250px;background: rgba(54,130,123,0.75);color: rgb(244, 242, 239)" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
            Informacion o Ayuda
        </button>
        <ul class="dropdown-menu" style="background: rgba(54,130,123,0.75);width: 250px;">
            <li><a class="dropdown-item" style="color: rgb(218, 218, 24);"  href="https://web.whatsapp.com/send?phone=5804247187229" target="_blank">WhatsApp</a></li>
        </ul>
    </div>  

</header>


<script>
    // Registro del Service Worker
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js')
    .then(function(registration) {
        console.log('Service Worker registrado con éxito:', registration);
    })
    .catch(function(error) {
        console.log('El registro del Service Worker falló:', error);
    });
}

const notificarBtn = document.querySelector('#notificar');

notificarBtn.addEventListener('click', () => {
    Notification.requestPermission().then(resultado => {
        console.log('Respuesta: ', resultado);
    })
})

function mostrarNotificacion() {
    if (Notification.permission === 'granted') {
        const notificacion = new Notification('Centro cristiano Colón', {
            icon: '/img/logo.png',
            body: 'No te olvides de enviar tu reporte'
        });

        notificacion.onclick = function(){
            window.open('https://centrocristianocolon.onrender.com/');
        }

        // Agregar evento de clic al botón de cerrar
        notificacion.onclose = function() {
            console.log('Notificación cerrada por el usuario');
        };
    }
}

// Obtén la fecha y hora específicas para el próximo martes a las 8:05 PM
// Calcula el tiempo en milisegundos para 5 minutos
const cincoMinutos = 3 * 60 * 1000;

// Programa la notificación para mostrarla cada 5 minutos
setInterval(mostrarNotificacion, cincoMinutos);


</script>

    