<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col d-flex align-items-stretch">
      <div
        class="card m-4 d-flex"
        style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(54, 130, 123);">
          Misión
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Buscamos a hombres y mujeres que
              no conocen de Jesucristo y los guiamos a la salvación. Luego los
              discipulamos y capacitamos para que asuman un compromiso con
              Cristo y con su iglesia. Formamos de ellos líderes autónomos,
              responsables y trascendentes. Levantando así una generación de
              conquista, consumadores de la palabra y dispuestos a llevar el
              Evangelio sin mirar el precio. Mateo 28.19-20.
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch">
      <div
        class="card m-4"
        style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(54, 130, 123);">
          Visión
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Hacer de San Juan de Colón, del
              Estado y de Venezuela, espacios donde el amor y los principios del
              Reino de Dios estén presentes en todas las áreas de la vida
              personal y social, como modelo y plataforma de la misión mundial.
              Hechos 1:8.
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-2">
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123);">
          Adoración a Dios
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">

            <footer class="blockquote-footer">Nuestra iglesia motiva a sus
              miembros a vivir una vida que agrade a Dios en todos los lugares
              donde se muevan. Hace una diferencia entre la verdadera adoración
              y la falsa (religiosidad).
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123);">
          Revelación de la gloria de Dios

        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Nuestra iglesia revela al mundo la
              gloria de Dios a través de la transformación de vidas que funciona
              como un imán que atrae a otros.</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123);">
          Demostración del Poder de Dios
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Es dinámica y efectiva por el
              poder de Dios sobre las enfermedades, la muerte, la naturaleza y
              los demonios.
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123);">
          Expansión del Reino de Dios

        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Nuestra Iglesia busca activamente
              a su alrededor a quienes no son salvos y desarrolla programas de
              enseñanza para que puedan creer en Jesucristo y asuman la misión
              de ganar, edificar y enviar.</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(54, 130, 123);">
          Unidad de Propósito
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Todos los miembros de la empresa
              piensan y actúan en consonancia con la Alta Dirección. Aunque
              exista autonomía y autosuficiencia en ciertas áreas de la
              organización, estas deben apuntar a un bien común, a un mismo
              objetivo trazado por la Organización.</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(54, 130, 123);">
          Conocimiento del entorno
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">La Iglesia debe estar atenta a los
              cambios que ocurran a su alrededor en los ámbitos Políticos,
              Legales, Económicos, Socio-culturales, Tecnológicos y Ecológicos
              con el fin de dar una respuesta oportuna.</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(54, 130, 123);">
          Liderazgo capaz
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">El líder es el centro en torno al
              que gravita la empresa. Si el líder es competente, la empresa
              prosperará; si es incompetente, se creará caos.</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(54, 130, 123);">
          Organización eficaz
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">La organización requiere sistemas
              de control adecuados, comunicación fluida, asignación eficaz de
              recursos y personal competente.</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-1">
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123); ">
          Dignidad
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Somos imagen y semejanza de Dios,
              por ello practicamos:
              <ul>
                <li>La compasión</li>
                <li>El aprecio</li>
                <li>El reconocimiento</li>
                <li>La consideración y aceptación del personal interno y externo
                  tomando decisiones de altura.</li>
                <li>La excelencia</li>
                <li>La independencia con confianza en lo que se es y de acuerdo
                  a lo que fuimos seleccionados y al propósito que se está
                  cumpliendo</li>
              </ul>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123); ">
          Integridad
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Es la capacidad de actuar de
              acuerdo a lo que somos y desarrollando al máximo nuestro talento y
              para ello cada acción u omisión se hace con:
              <ul>
                <li>Honestidad</li>
                <li>Veracidad</li>
                <li>Transparencia</li>
                <li>Responsabilidad</li>
                <li>Confiabilidad</li>
                <li>Esfuerzo</li>
                <li>Organización</li>
              </ul>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch pb-4">
      <div
        class="card m-2"
        style="box-shadow: 10px 10px 5px 0px rgba(226,183,123,0.75);"
      >
        <div class="card-header" style="background-color: rgb(226, 183, 123);">
          Libertad
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Es el ejercicio de la autoridad
              interior que Dios nos ha dado para evitar ser gobernados por los
              impulsos, emociones, pasiones, intereses,posiciones y posesiones
              personales. Y de esta forma poder respetar:
              <li>La vida propia y la de los demás</li>
              <li>Obedecer a las leyes, a las autoridades, las reglas de
                convivencia y seguir procesos de acuerdo al orden establecido.</li>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>