<div class="card  " style="margin-bottom: 190px;">
  <h5 class="card-header">Crear Nuevo Evento</h5>
  <div class="card-body ">
    <form action="/links/eventos" method="POST">
    <input class="form-control" type="text" name="Dia" placeholder="Dia" aria-label="default input example">
    <input class="form-control form-control-lg" name="descripcion" type="text" placeholder="Describcion del Evento" aria-label=".form-control-lg example">
    <input class="form-control" type="text" name="Fecha" placeholder="Fecha" aria-label="default input example">
    <input class="form-control" type="text" name="Hora" placeholder="Hora" aria-label="default input example">
  </div>
  <form action="/eventos" class="d-flex justify-content-center align-items-center" style="margin-bottom: 199px;">
     <button type="submit" class="btn btn-primary btn-lg ">Crear Evento</button>
    </form>
  </form>
</div>

<form action="/links/profile" class="inicio">
  <button class="fa-solid fa-arrow-left etc"></button>
</form>