<div class="container px-4 p-5">
<div
  class="d-flex justify-content-center align-items-center mb-4"
  style="height: 100vh;"
>
  <div
    class="card mb-3"
    style="max-width: 1300px; background:linear-gradient(to right, white, rgb(0, 110, 97));"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <a
          href="https://wa.me/584247187229?text=Hola%20¿Buenos%20dias?%20Deseo%20hacer%20una%20donación"
          target="_blank"
        >
          <img src="/img/donaciones.jpg" class="card-img" alt="donaciones" />
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1
            class="card-title d-flex justify-content-center align-items-center mb-5"
          >Donar</h1>
          <p class="card-text mt-4"><h4>“Si estás interesado en contribuir a
              nuestro ministerio, puedes hacerlo fácilmente. Simplemente haz
              clic en la imagen y serás redirigido a WhatsApp, donde podrás
              gestionar tu donación. Agradecemos de antemano tu generosidad y
              apoyo.”</h4></p>
          <a
            href="https://wa.me/584247187229?text=Hola%20¿Buenos%dias?%20Deseo%20hacer%20una%20donación"
            target="_blank"
            style="text-decoration: none;"
          >
            <p
              class="card-text m-2 d-flex justify-content-center align-items-center"
            ><small
                class="text-body-secondary fa-solid fa-left-long"
                style="font-size: 100px; "
              ></small></p>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>