<div class="container px-4 p-5">
  <div class="row gx-5 pb-4 d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h3>Nuestros fundadores</h3>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Fe, perseverancia más fuerza en
            movimiento son la esencia de la vida ministerial de nuestro pastor y
            Misionero, José Satirio Dos Santos, quien luego de una experiencia
            sobrenatural dejó su país natal Brasil para llegar a Cúcuta,
            Colombia en el año de 1975 y junto a su esposa la pastora y
            misionera, Nair Andrade Dos Santos, y sus tres hijos, Sulamita,
            Eliseu y José, fundar la iglesia Centro Cristiano, una plataforma
            misionera que ha mantenido la insignia de GANAR, EDIFICAR y ENVIAR,
            teniendo como resultado más de 69.000 personas que han sido
            bautizadas en los últimos 20 años y más de 500 congregaciones que
            han sido fundadas y establecidas bajo cobertura en diferentes países
            del mundo, además de múltiples programas misioneros en Venezuela,
            Ecuador, Argentina, Estados Unidos y el Himalaya, en el continente
            de Asia. El esfuerzo de los Misioneros por mejorar la calidad de
            vida de los miembros de la iglesia y la comunidad en general le han
            permitido fundar entidades educativas, sociales, medios de
            comunicación y empresas misioneras. La labor de los Pastores y de la
            iglesia Centro Cristiano en Cúcuta, ha sido reconocida en varias
            ocasiones por Entes Gubernamentales locales, regionales, nacionales
            e internacionales, quienes han exaltado la contribución hecha por
            más de cuatro décadas a favor de desarrollo de la sociedad.</p>
        </div>
      </div>
    </div>

  </div>
</div>