<div class="container px-4 p-5">
  <div class="row pb-5 d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h3>Somos una Iglesia con ADN Misionero</h3>
        </div>
        <div class="card-body">
          <p class="card-text text-justify" style="font-size: 18px;">Durante más
            de cuatro décadas y bajo la dirección del pastor y misionero, José
            Satirio Dos Santos, la iglesia Centro Cristiano, como plataforma
            misionera, lleva a cabo múltiples proyectos a través de las misiones
            internacionales, nacionales, étnicas y urbanas, llevando esperanza
            hasta lo último de la tierra. Es así como hoy en día se han fundado
            centenares de congregaciones en diferentes continentes como Europa,
            Asia y América, así como en Resguardos Indígenas en Colombia, con el
            único propósito de cumplir con la gran comisión. Bajo esta visión
            misionera, hoy múltiples personas y empresas se han sumado
            voluntariamente a ser Aliados Misioneros, quienes comprenden su
            identidad y con su generosidad contribuyen a sostener cada proyecto
            y se convierten en un brazo extendido para la expansión del Reino en
            la tierra.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>