<div
  class="alert alert-primary alert-dismissible fade show fs-5"
  role="alert"
>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  <strong>Por favor , se limitaron ciertas casillas a 
    solo numeros para evitar confusiones en la entrega del reporte general</strong> Gracias..
</div>

<script>
  var alertList = document.querySelectorAll(".alert");
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert);
  });
</script>


  <div class="container d-flex justify-content-center mt-3 mb-3">
    <div
      class="card bg-body-secondary"
      style="width: 70rem; box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);"
    >
      <div class="d-flex justify-content-center m-2">
        <img src="/img/logo.png" alt="logo" class="logo-form" />
      </div>
      <h2 class="d-flex justify-content-center m-2">REPORTES DE GRUPOS BIBLICOS</h2>
      <div class="card-body" style="background-color: rgb(0, 109, 98);">
        <form action="/links/planilla" method="POST" class="row g-3">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="PASTOR_SUPERVISOR"
              placeholder="Pastor Supervisor"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="COORDINADOR_DPTO"
              placeholder="Coordinador de departamento"
              required
            />
          </div>
          <div class="form-group col-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="SUPERVISOR_DE_RED"
              placeholder="Supervisor de red"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="FELIPE_DE_RED"
              placeholder="Felipe de red"
              required
            />
          </div>

          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="FELIPE_LIDER"
              placeholder="felipe lider"
              required
            />
          </div>
          <div class="form-group col-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Asistencia_vea"
              placeholder="asistencia en el vea"
              required
            />
          </div>
          <div class="form-group col-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="asistentes"
              placeholder="asistencia Grupo Biblico"
              required
            />
          </div>
          <div class="form-group col-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Felipes"
              placeholder="felipes"
              required
            />
          </div>
          <div class="form-group col-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Etiopes"
              placeholder="Etiopes"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="novedades"
              placeholder="Novedades"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Amigos"
              placeholder="Amigos"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Ninos"
              placeholder="Niños Grupo biblico"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Ausentes"
              placeholder="Ausentes"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Convertidos_adultos"
              placeholder="Adultos convertidos"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Convertidos_ninos"
              placeholder="Niños Convertidos"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Reconciliados"
              placeholder="Reconciliados"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Diezmos"
              placeholder="Diezmos"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Ofrendas"
              placeholder="Ofrendas"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Total_financiero"
              placeholder="Total"
              required
            />
          </div>

<div class="d-flex justify-content-center">
   <h2>PARTICIPACIONES</h2>
</div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Participacion_Mision_Amigo"
              placeholder="Participacion mision amigo"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Participacion_Consolidacion"
              placeholder="participacion consolidacion"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Participacion_Discipulado_1"
              placeholder="Participacion Discipulado 1 / 2"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Asistencia_a_la_Escuela_de_Liderazgo"
              placeholder="Asistencia a la Escuela de Liderazgo"
              required
            />
          </div>

<div class="d-flex justify-content-center">
   <h2>REUNIÓN DOMINICAL</h2>
</div>

          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="asistencia_hermanos"
              placeholder="Asistencia de Hermanos en la Iglesia"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Asistencia_de_Amigos"
              placeholder="Asistencia de Amigos en la Iglesia"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="number"
              class="form-control"
              style="border-bottom: 2px solid #5504f8;"
              name="Asistencia_de_Ninos"
              placeholder="Asistencia de Niños en la Iglesia"
              required
            />
          </div>

          <div class="form-group d-flex justify-content-center text-white col-12">
            <div class="form-check">
              <input
                class="form-check-input bg-primary"
                type="checkbox"
                id="gridCheck"
                required
              />
              <label class="form-check-label" for="gridCheck">
                E revisado y estoy seguro de la informacion suministrada
              </label>
            </div>
          </div>
          <div class="col-12 d-flex mt-4 justify-content-center m">
            <form action="/planilla">
              <button type="submit" class="btn btn-primary btn-lg">Enviar
                reporte</button>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<form action="/links/profile" class="btn-group dropup btn-float fs-2 m-2" style="left: 5px;">
  <button class="fa-solid fa-house fa-flip bg-transparent" style="border: none;color: rgb(231, 14, 14);" ></button>
</form>

 













