  <p class="text-center text-success fs-4 mt-4">
    Recuerda tener todo a la mano para realizar tu reporte, 
    no olvides confirmar que se haya cargado tu informacion
  </p> 
  
<div class="d-flex justify-content-center m-5" >
<div class="list-group  p-4" style="width: 25rem;background: linear-gradient(360deg, rgba(243, 240, 240, 0.055) 10%, rgba(0,110,97,1) 90%);">
  <a href="/links/planilla" class=" text-center text-decoration-none fs-5 m-2"> <button  type="button" class="list-group-item list-group-item-action text-success" style="border-radius:20px;">Reporte de Grupo Biblico</button></a>
  <a href="/links/nuevos" class="text-center text-decoration-none fs-5 m-2"> <button  type="button" class="list-group-item list-group-item-action text-success" style="border-radius:20px;">Reporte de Personas Nuevas</button></a>
  <a href="/links/reportes" class="text-center text-decoration-none fs-5 m-2"> <button  type="button" class="list-group-item list-group-item-action text-success" style="border-radius:20px;">Ver Reportes</button></a>
  <a href="/links/pastores" class="text-center text-decoration-none fs-5 m-2"> <button  type="button" class="list-group-item list-group-item-action text-success" style="border-radius:20px;">Pastores</button></a>
</div>
</div>
        <form action="/signin" method="post">
          <button type="submit">Cerrar sesión</button>
        </form>

















</body>






