<div class="container">
<div class="row row-2">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body bg-body-secondary">
        <h5 class="card-title p-4">Pastor(es):Jose Wilman Chamorro,
          <br />Francis Ortiz de Chamorro</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary p-3">Direccion: Calle
          3 con Carrera 11, Barrio el topon
          <br />Una cuadra mas arriba del Gimnasio cubierto</h6>
        <p class="card-text p-3">Ciudad: San Juan de Colón, Municipio Ayacucho</p>
        <p class="card-text p-3">Telefono: +58 0424-7187229</p>
        <div class="d-flex justify-content-center">
          <i class="fa-solid fa-info p-2"></i>
          <i class="fa-solid fa-location-crosshairs p-2"></i>
          <i class="fa-solid fa-arrow-up p-2"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</div>