<div class="row row-2">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body bg-body-secondary">
        <h5 class="card-title p-4">Pastor(es):Jose Wilman Chamorro,
          <br />Francis Ortiz de Chamorro</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary p-3">Direccion: Calle
          3 con Carrera 11, Barrio el topon
          <br />Una cuadra mas arriba del Gimnasio cubierto</h6>
        <p class="card-text p-3">Ciudad: San Juan de Colón, Municipio Ayacucho</p>
        <p class="card-text p-3">Telefono: +58 0424-7187229</p>
        <div class="d-flex justify-content-center">
          <i class="fa-solid fa-info p-2"></i>
          <i class="fa-solid fa-location-crosshairs p-2"></i>
          <i class="fa-solid fa-arrow-up p-2"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-8">
    <div class="pt-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.7156445312617!2d-72.26213622550951!3d8.028227003851917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6661c4a2b6d037%3A0xb863abb51aac8fd6!2sCentro%20Cristiano%20Colon!5e0!3m2!1ses!2sve!4v1705430899804!5m2!1ses!2sve"
        width="1000"
        height="420"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

</div>